<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:variable name="typo3Base"><f:uri.page pageUid="1" /></f:variable>
    <f:variable name="lblFileSize"><f:translate key="fe.upload.file_size" /></f:variable>
    <f:variable name="lblFileType"><f:translate key="fe.upload.file_type" /></f:variable>
    <f:variable name="lblFileError"><f:translate key="fe.upload.file_error" /></f:variable>
    <f:variable name="lblServerError"><f:translate key="fe.upload.server_error" /></f:variable>
    <f:variable name="lblIdleDrag"><f:translate key="fe.upload.idle.drag" /></f:variable>
    <f:variable name="lblIdleBrowse"><f:translate key="fe.upload.idle.browse" /></f:variable>
    <f:variable name="lblLoading"><f:translate key="fe.upload.loading" /></f:variable>
    <f:variable name="lblLoadingError"><f:translate key="fe.upload.loading.error" /></f:variable>
    <f:variable name="lblUploading"><f:translate key="fe.upload.uploading" /></f:variable>
    <f:variable name="lblCancel"><f:translate key="fe.upload.cancel" /></f:variable>
    <f:variable name="lblRetry"><f:translate key="fe.upload.retry" /></f:variable>
    <f:variable name="lblComplete"><f:translate key="fe.upload.complete" /></f:variable>
    <f:variable name="lblUndo"><f:translate key="fe.upload.undo" /></f:variable>

    <div id="jobapplications-filepond-config" hidden
        data-typo3-base="{typo3Base}"
        data-lbl-file-size="{lblFileSize}"
        data-lbl-file-type="{lblFileType}"
        data-lbl-file-error="{lblFileError}"
        data-lbl-server-error="{lblServerError}"
        data-lbl-idle-drag="{lblIdleDrag}"
        data-lbl-idle-browse="{lblIdleBrowse}"
        data-lbl-loading="{lblLoading}"
        data-lbl-loading-error="{lblLoadingError}"
        data-lbl-uploading="{lblUploading}"
        data-lbl-cancel="{lblCancel}"
        data-lbl-retry="{lblRetry}"
        data-lbl-complete="{lblComplete}"
        data-lbl-undo="{lblUndo}"
    ></div>

    <f:asset.script identifier="application" src="EXT:jobapplications/Resources/Public/Js/filepondUpload.js" useNonce="true" />
</html>
