<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="form-row">
	<div class="form-group col-md-3">
		<label for="salutation">
			<f:translate key="tx_jobapplications_domain_model_application.salutation"/>
		</label>
		<f:form.select class="form-control" name="salutation" prependOptionLabel="{f:translate(key: 'fe.application.selector.chooseMessage')}" property="salutation">
			<f:form.select.option value="mr">
				<f:translate key="fe.application.selector.mr"/>
			</f:form.select.option>
			<f:form.select.option value="mrs">
				<f:translate key="fe.application.selector.mrs"/>
			</f:form.select.option>
			<f:form.select.option value="div">
				<f:translate key="fe.application.selector.div"/>
			</f:form.select.option>
		</f:form.select>
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md-6">
		<label for="firstName">
			<f:translate key="tx_jobapplications_domain_model_application.first_name"/>
			*
		</label>
		<f:form.textfield class="form-control" property="firstName" required="true"/>
	</div>
	<div class="form-group col-md-6">
		<label for="lastName">
			<f:translate key="tx_jobapplications_domain_model_application.last_name"/>
			*
		</label>
		<f:form.textfield class="form-control" property="lastName" required="true"/>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
		<label for="email">
			<f:translate key="tx_jobapplications_domain_model_application.email"/>
			*
		</label>
		<f:form.textfield class="form-control" property="email" required="true" type="email"/>
	</div>
	<div class="form-group col-md-6">
		<label for="phone">
			<f:translate key="tx_jobapplications_domain_model_application.phone"/>
		</label>
		<f:form.textfield class="form-control" property="phone" type="tel"/>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<label for="addressStreetAndNumber">
			<f:translate key="tx_jobapplications_domain_model_application.address_street_and_number"/>
		</label>
		<f:form.textfield class="form-control" property="addressStreetAndNumber"/>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<f:form.textfield class="form-control" placeholder="{f:translate(key: 'tx_jobapplications_domain_model_application.address_addition')}" property="addressAddition"/>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-4">
		<label for="addressPostCode">
			<f:translate key="tx_jobapplications_domain_model_application.address_post_code"/>
		</label>
		<f:form.textfield class="form-control" property="addressPostCode"/>
	</div>
	<div class="form-group col-md-8">
		<label for="addressCity">
			<f:translate key="tx_jobapplications_domain_model_application.address_city"/>
		</label>
		<f:form.textfield class="form-control" property="addressCity"/>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<label for="addressCountry">
			<f:translate key="tx_jobapplications_domain_model_application.address_country"/>
		</label>
		<f:form.textfield class="form-control" property="addressCountry"/>
	</div>
</div>

<f:if condition="{settings.showSalarayExpectation} || {settings.showEarliestDateOfJoining}">
	<div class="form-row">
		<f:if condition="{settings.showSalarayExpectation}">
			<div class="form-group col-md-6">
				<label for="salaryExpectation">
					<f:translate key="tx_jobapplications_domain_model_application.salary_expectation"/>
					*
				</label>
				<f:form.textfield class="form-control" property="salaryExpectation" required="true"/>
			</div>
		</f:if>
		<f:if condition="{settings.showEarliestDateOfJoining}">
			<div class="form-group col-md-6">
				<label for="earliestDateOfJoining">
					<f:translate key="tx_jobapplications_domain_model_application.earliest_date_of_joining"/>
				</label>
				<f:form.textfield class="form-control" property="earliestDateOfJoining" required="true" type="date" value="{application.earliestDateOfJoining -> f:format.date()}"/>
			</div>
		</f:if>
	</div>
</f:if>
<f:if condition="{settings.showMessage}">
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="message">
				<f:translate key="tx_jobapplications_domain_model_application.message"/>
			</label>
			<f:form.textarea additionalAttributes="{maxlength: settings.messageMaxLength}" class="form-control" name="message" property="message" rows="10"></f:form.textarea>
		</div>
	</div>
</f:if>
<f:if condition="!{settings.legacy_upload}">
	<f:then>
		<div class="form-row">
			<div class="form-group col" id="upload-files">
				<label for="files">
					<f:translate key="tx_jobapplications_domain_model_application.files_upload"/>
					*
				</label>
				<f:form.upload additionalAttributes="{accept: allowedFileTypes, required: 'true'}" class="form-control-file filepond" id="upload" multiple="true" name="files"></f:form.upload>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="upload-cv">
					<f:translate key="tx_jobapplications_domain_model_application.cv"/>
					*
				</label>
				<f:form.upload additionalAttributes="{accept: allowedFileTypes, required: 'true'}" class="form-control-file filepond" id="upload-cv" name="cv"></f:form.upload>
			</div>
			<div class="form-group col-md-6">
				<label for="cover_letter">
					<f:translate key="tx_jobapplications_domain_model_application.cover_letter"/>
					*
				</label>
				<f:form.upload additionalAttributes="{accept: allowedFileTypes, required: 'true'}" class="form-control-file filepond" name="cover_letter"></f:form.upload>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="testimonials">
					<f:translate key="tx_jobapplications_domain_model_application.testimonials"/>
				</label>
				<f:form.upload additionalAttributes="{accept: allowedFileTypes}" class="form-control-file filepond" multiple="true" name="testimonials"></f:form.upload>
			</div>
			<div class="form-group col-md-6">
				<label for="other_files">
					<f:translate key="tx_jobapplications_domain_model_application.other_files"/>
				</label>
				<f:form.upload additionalAttributes="{accept: allowedFileTypes}" class="form-control-file filepond" multiple="true" name="other_files"></f:form.upload>
			</div>
		</div>
	</f:else>
</f:if>
<div class="form-row">
	<small class="form-text text-muted m-auto" id="upload-message">
		<p>
			<f:translate arguments="{0: fileSizeLimit, 1 : allowedFileTypes}" key="fe.info.fileSize"/>
		</p>
	</small>
	<small class="form-text text-muted m-auto" id="required-message">
		<p>
			<f:translate key="fe.info.required"/>
		</p>
	</small>
</div>
<f:render arguments="{_all}" partial="Application/FilepondConfig"></f:render>
<div class="form-row">
	<div class="form-check mb-3 ml-1">
		<label class="form-check-label">
			<f:form.checkbox additionalAttributes="{required:'required'}" class="form-check-input" property="privacyAgreement" value="1"/>
			<f:translate key="fe.application.privacy_agreement"></f:translate>
			<f:link.typolink parameter="{settings.linkPrivacy}" target="_blank">
				<f:translate key="tx_jobapplications_domain_model_application.privacy_agreement"/>
			</f:link.typolink>
		</label>
	</div>
</div>
</html>