<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Application</h1>

		<f:flashMessages />

		<table  class="tx_jobs" >
			<tr>
				<th><f:translate key="tx_jobs_domain_model_application.salutation" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.first_name" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.last_name" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.email" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.phone" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.address" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.salary_expectation" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.earliest_date_of_joining" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.cv" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.cover_letter" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.testimonials" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.other_files" /></th>
				<th><f:translate key="tx_jobs_domain_model_application.privacy_agreement" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{applications}" as="application">
				<tr>
					<td><f:link.action action="show" arguments="{application : application}"> {application.salutation}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.firstName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.lastName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.email}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.phone}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.address}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.salaryExpectation}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.earliestDateOfJoining -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.cv.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.coverLetter.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.testimonials.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.otherFiles.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{application : application}"> {application.privacyAgreement}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{application : application}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{application : application}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Application</f:link.action>
	</f:section>
</html>