<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<v:page.header>
		<script src="{f:uri.resource(path: 'Js/filepond-plugin-file-validate-type.js')}"></script>
		<script src="{f:uri.resource(path: 'Js/filepond.js')}"></script>
		<link href="{f:uri.resource(path: 'Css/filepond.css')}" rel="stylesheet">
	</v:page.header>

	<f:render partial="Posting/MetaTags" arguments="{posting:posting}"/>
	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<f:if condition="{posting}">
				<f:then>
					<h3>
						<f:translate key="fe.application.new.title" arguments="{0: posting.title}" extensionName="jobapplications"/>
					</h3>
				</f:then>
				<f:else>
					<f:translate key="fe.application.unsolicited.title" extensionName="jobapplications"/>
				</f:else>
			</f:if>

			<f:flashMessages/>
			<f:render partial="FormErrors"/>
			<f:form id="application-form" action="create" enctype="multipart/form-data" name="newApplication" object="{newApplication}" arguments="{posting: posting}">
				<f:render partial="Application/FormFields" arguments="{_all}"/>
				<div class="row">
					<div class="col-4">
						<button id="application-button-back" class="btn btn-link px-0" onclick="window.history.back()">
							<f:translate key="fe.application.backlink"/>
						</button>
					</div>
					<div class="col-4 text-center">
						<f:form.submit id="application-submit" class="btn btn-primary mx-auto" value="{f:translate(key:'fe.application.new.submit')}"/>
					</div>
				</div>
			</f:form>
		</div>
		<div class="col"></div>
	</div>
	<script>
		document.getElementById('application-form').addEventListener('submit', function ()
		{
			document.getElementById('application-submit').disabled = true;
			document.getElementById('application-button-back').disabled = true;
		});
	</script>
</f:section>
</html>