<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
		v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
		data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<f:flashMessages/>
	<f:variable name="msg" value="{v:format.replace(substring: '%lastName%', content: '{settings.successMessage}', replacement: '{lastName}')}"></f:variable>
	<f:variable name="msg" value="{v:format.replace(substring: '%firstName%', content: '{msg}', replacement: '{firstName}')}"></f:variable>
	<f:variable name="msg" value="{v:format.replace(substring: '%salutation%', content: '{msg}', replacement: '{salutation}')}"></f:variable>
	<f:if condition="{posting}">
		<f:then>
			<f:variable name="msg" value="{v:format.replace(substring: '%posting%', content: '{msg}', replacement: '{posting.title}')}"></f:variable>
		</f:then>
		<f:else>
			<f:variable name="msg" value="{v:format.replace(substring: '%posting%', content: '{msg}', replacement: '{f:translate(key: \'fe.application.unsolicited.title\')}')}"></f:variable>
		</f:else>
	</f:if>
	<f:format.raw>{msg}</f:format.raw>
</f:section>
</html>