<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_contact.name" />
		</td>
		<td>
			{contact.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_contact.email" />
		</td>
		<td>
			{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_contact.phone" />
		</td>
		<td>
			{contact.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_contact.division" />
		</td>
		<td>
			{contact.division}
		</td>
	</tr>
</table>
</html>