<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="col-12 col-md-4">
	<div class="card my-3">
		<f:if condition="{posting.listViewImage}">
			<f:image class="card-img-top h-auto" src="{posting.listViewImage.originalResource.publicUrl}"/>
		</f:if>
		<div class="row">
			<div class="col"></div>
			<div class="col-9">
				<div class="card-title mt-3">
					<f:link.action action="show" arguments="{posting : posting}" pageUid="{settings.detailViewUid}" pluginName="DetailView">{posting.title}</f:link.action>
				</div>
				<div class="card-body p-0 pb-3">
					<div class="row">
						<div class="col">
							<f:translate key="tx_jobapplications_domain_model_posting.career_level"/>
							:
						</div>
						<div class="col-md-auto"><span>{posting.careerLevel}</span></div>
					</div>
					<div class="row">
						<div class="col">
							<f:translate key="tx_jobapplications_domain_model_posting.locations"/>
							:
						</div>
						<div class="col-md-auto">
							<f:for each="{posting.locations}" as="location" iteration="iterator">
								<span>{location.name}{f:if(condition: '!{iterator.isLast}', then: ', ')}</span>
							</f:for>

						</div>
					</div>
					<div class="row">
						<div class="col">
							<f:translate key="tx_jobapplications_domain_model_posting.date_posted"/>
							:
						</div>
						<div class="col-md-auto">
							<f:format.date format="{f:translate(key: 'date_format')}">{posting.datePosted}</f:format.date>
						</div>
					</div>
					<div class="row mt-3">
						<f:link.action action="show" arguments="{posting : posting}" class="btn btn-primary m-auto" pageUid="{settings.detailViewUid}" pluginName="DetailView">
							<f:translate key="fe.posting.button.detailview"/>
						</f:link.action>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>