<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.date_posted" />
		</td>
		<td>
		{posting.datePosted -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.career_level" />
		</td>
		<td>
		{posting.careerLevel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.division" />
		</td>
		<td>
		{posting.division}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.employment_type" />
		</td>
		<td>
		{posting.employmentType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.terms_of_employment" />
		</td>
		<td>
		{posting.termsOfEmployment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.company_description" />
		</td>
		<td>
			<f:format.raw>{posting.companyDescription}</f:format.raw>

		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.job_description" />
		</td>
		<td>
			<f:format.raw>{posting.jobDescription}</f:format.raw>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.role_description" />
		</td>
		<td>
			<f:format.raw>{posting.roleDescription}</f:format.raw>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.skill_requirements" />
		</td>
		<td>
			<f:format.raw>{posting.skillRequirements}</f:format.raw>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.benefits" />
		</td>
		<td>
			<f:format.raw>{posting.benefits}</f:format.raw>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.base_salary" />
		</td>
		<td>
		{posting.baseSalary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.valid_through" />
		</td>
		<td>
		{posting.validThrough -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.required_documents" />
		</td>
		<td>
		{posting.requiredDocuments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.company_information" />
		</td>
		<td>
		{posting.companyInformation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.location" />
		</td>
		<td>
			{posting.location.name}<br>
			{posting.location.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_posting.contact" />
		</td>
		<td>
			{posting.contact.name}<br>
			{posting.contact.division}<br>
			{posting.contact.phone}<br>
			{posting.contact.email}
		</td>
	</tr>
</table>
</html>