<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="row">
	<div class="col">
		<f:if condition="{posting.datePosted}">
			<f:format.date format="{f:translate(key: 'date_format')}">{posting.datePosted}</f:format.date>
		</f:if>
		<hr/>
		<div class="row">
			<f:if condition="{posting.careerLevel}">
				<div class="col mb-1">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.career_level"/>
					</strong>
					{posting.careerLevel}
				</div>
			</f:if>
			<f:if condition="{posting.division}">
				<div class="col mb-1">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.division"/>
					</strong>
					{posting.division}
				</div>
			</f:if>
		</div>
		<div class="row">
			<f:if condition="{posting.employmentType}">
				<div class="col mb-1">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.employment_type"/>
					</strong>
					<f:for as="employmentType" each="{posting.deserializedEmploymentTypes}" iteration="iterator">
						<f:translate key="fe.posting.employment.selector.{employmentType}"/>
						<f:if condition="!{iterator.isLast}" then=","></f:if>
					</f:for>
				</div>
			</f:if>
			<f:if condition="{posting.termsOfEmployment}">
				<div class="col mb-1">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.terms_of_employment"/>
					</strong>
					{posting.termsOfEmployment}
				</div>
			</f:if>
		</div>
		<hr/>
		<f:if condition="{posting.companyDescription}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.company_description"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.companyDescription}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.jobDescription}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.job_description"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.jobDescription}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.roleDescription}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.role_description"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.roleDescription}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.skillRequirements}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.skill_requirements"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.skillRequirements}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.benefits}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.benefits"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.benefits}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.baseSalary} || {posting.endtime}">
			<div class="row">
				<f:if condition="{posting.baseSalary}">
					<div class="col-3">
						<strong>
							<f:translate key="tx_jobapplications_domain_model_posting.base_salary"/>
						</strong>
					</div>
					<div class="col-3">
						{posting.baseSalary}
					</div>
				</f:if>
				<f:if condition="{posting.endtime}">
					<div class="col-3">
						<strong>
							<f:translate key="tx_jobapplications_domain_model_posting.valid_through"/>
						</strong>
					</div>
					<div class="col-3">
						<f:format.date format="{f:translate(key: 'date_format')}">{posting.endtime}</f:format.date>
					</div>
				</f:if>
			</div>
		</f:if>
		<hr/>
		<f:if condition="{posting.requiredDocuments}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.required_documents"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.requiredDocuments}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.companyInformation}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.company_information"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:format.raw>{posting.companyInformation}</f:format.raw>
				</div>
			</div>
		</f:if>
		<f:if condition="{posting.locations}">
			<div class="col">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.locations"/>
					</strong>
				</div>
				<div class="container-flex">
					<f:for each="{posting.locations}" as="location">
						<p>
							<f:if condition="{settings.showLocationTitle}">
								{location.name}<br>
							</f:if>
							{location.addressStreetAndNumber}<br>
							<f:if condition="{location.addressAddition}">
								{location.addressAddition}<br>
							</f:if>
							{location.addressPostCode}&nbsp;{location.addressCity}<br>
							{location.addressCountry}
						</p>
					</f:for>
				</div>
			</div>
		</f:if>
		<div class="col mb-4">
			<f:if condition="{posting.homeoffice}">
				<f:translate key="fe.posting.page.homeoffice"/>
				<f:if condition="{posting.locationrequirements}">
					<f:translate key="fe.posting.page.from"/>
					:
					<br/>
					<f:if condition="{posting.locationrequirements.name}">
						{posting.locationrequirements.name} <br/>
					</f:if>
				</f:if>
			</f:if>
		</div>
		<f:if condition="{posting.contact} && {settings.showContact}">
			<div class="col mb-4">
				<div class="row">
					<strong>
						<f:translate key="tx_jobapplications_domain_model_posting.contact"/>
					</strong>
				</div>
				<div class="container-flex">
					<div class="row">
						<div class="col">
							<f:if condition="{posting.contact.photo}">
								<img alt="contactImage" class="rounded-circle float-left mr-3" src="{posting.contact.photo.originalResource.publicUrl}" width="100"/>
							</f:if>
							<div class="container-flex text-left float-left">
								{posting.contact.firstName} {posting.contact.lastName}<br>
								{posting.contact.division}<br>
								{posting.contact.phone}<br>
								{posting.contact.email}<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</f:if>
	</div>
</div>
</html>