<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<div class="container-fluid">
		<h3>{settings.header}</h3>
		<div class="row justify-content-around">
			<f:for each="{contacts}" as="contact">
				<div class="col">
					<div class="row m-0">
						<f:if condition="{contact.photo}">
							<f:image src="{contact.photo.originalResource.publicUrl}" style="width: 100px !important" class="w-50 h-auto img-fluid rounded-circle text-center d-block m-auto"/>
						</f:if>
					</div>
					<div class="row mx-auto text-center d-block mt-2">
						<span><b>{contact.firstName} {contact.lastName}</b></span><br>
						<span><f:link.email email="{contact.email}"></f:link.email></span><br>
						<span>{contact.phone}</span><br>
						<span>{contact.division}</span>
					</div>
				</div>
			</f:for>
		</div>
	</div>
</f:section>
</html>