<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

<be:moduleLayout>
	<f:be.pageRenderer
			includeRequireJsModules="{
            0:'TYPO3/CMS/Backend/ContextMenu',
            1:'TYPO3/CMS/Backend/Modal'
        }"
			includeCssFiles="{0: '{f:uri.resource(path:\'Css/backend.css\')}'}"
	/>

	<be:moduleLayout.menu identifier="BackendUserModuleMenu">
		<be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.dashboard.applicationAdmin')}" uri="{f:uri.action(controller: 'Backend', action: 'listApplications', arguments: '{submit: \'Filter\'}')}"/>
		<be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.dashboard.title')}" uri="{f:uri.action(controller: 'Backend', action: 'dashboard')}"/>
		<be:moduleLayout.menuItem label="{f:translate(key: 'LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.dashboard.settings')}" uri="{f:uri.action(controller: 'Backend', action: 'settings')}"/>
	</be:moduleLayout.menu>

	<be:moduleLayout.button.shortcutButton displayName="Shortcut"/>

	<f:render section="content"/>
</be:moduleLayout>
</html>
