<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<div class="container">
			<h2>Open Positions</h2>

			<f:flashMessages />

				<f:for each="{postings}" as="posting">
					<div class="card" style="width: 50%;">
						<div class="card-img-top" alt="posting-picture"></div>
						<div class="card-body">
							<f:link.action action="show" arguments="{posting : posting}">{posting.title}</f:link.action>
							<ul class="list-group">
								<li class="list-group-item">
									<f:translate key="tx_jobs_domain_model_posting.career_level"/>:
									<span>{posting.careerLevel}</span>
								</li>
								<li class="list-group-item">
									<f:translate key="tx_jobs_domain_model_posting.location"/>:
									<span>{posting.location}</span>
								</li>
								<li class="list-group-item">
									<f:translate key="tx_jobs_domain_model_posting.date_posted"/>:
									<span>{posting.datePosted -> f:format.date()}</span>
								</li>
								<li class="list-group-item">
									<f:link.action action="show" arguments="{posting : posting}" class="btn btn-primary">Details</f:link.action>
								</li>
							</ul>
						</div>
					</div>

				</f:for>
		</div>
	</f:section>
</html>