<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:jobs="http://typo3.org/ns/ITX/Jobapplications/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Default"/>

<f:section name="content">
	<f:asset.script identifier="selectize" src="EXT:jobapplications/Resources/Public/Js/Vendor/selectize.js" priority="true"/>
	<f:asset.css identifier="selectize-css" href="EXT:jobapplications/Resources/Public/Css/Vendor/selectize.css" priority="true"/>
	<f:asset.css identifier="selectize-bootstrap5-css" href="EXT:jobapplications/Resources/Public/Css/Vendor/selectize.bootstrap5.css" priority="true"/>

	<div class="container">
		<f:flashMessages/>
		<h3>
			<f:translate key="fe.posting.page.title"/>
		</h3>
		<f:comment><!--f:if for filter--></f:comment>
		<f:if condition="{postings -> f:count()} > 0 || {isFiltering}">
			<f:then>
				<f:comment><!--Filter start--></f:comment>
				<f:form action="list" method="get" name="constraint" object="{constraint}">
					<div class="form-row m-0">
						<div class="form-group pl-0 col">
							<label for="division">
								<f:translate key="fe.filter.divisions"/>
							</label>
							<f:form.select class="form-control" multiple="true" name="division" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}" property="division">
								<f:for each="{filterOptions.division}" as="division" >
									<f:if condition="{division}">
										<f:form.select.option additionalAttributes="{jobs:condition.inArray(needle: division, haystack: constraint.division, then: '{selected: true}')}" value="{division}">{division}</f:form.select.option>
									</f:if>
								</f:for>
							</f:form.select>
						</div>
						<div class="form-group col">
							<label for="careerLevel">
								<f:translate key="fe.filter.careerLevel"/>
							</label>
							<f:form.select class="form-control" multiple="true" name="careerLevel" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}" property="careerLevel">
								<f:for each="{filterOptions.careerLevel}" as="careerLevel">
									<f:if condition="{careerLevel}">
										<f:form.select.option additionalAttributes="{jobs:condition.inArray(needle: careerLevel, haystack: constraint.careerLevel, then: '{selected: true}')}" value="{careerLevel}">{careerLevel}</f:form.select.option>
									</f:if>
								</f:for>
							</f:form.select>
						</div>
						<div class="form-group col">
							<label for="employmentType">
								<f:translate key="fe.filter.employmentType"/>
							</label>
							<f:form.select class="form-control" multiple="true" name="employmentType" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}" property="employmentType">
								<f:for as="employmentType" each="{filterOptions.employmentType}">
									<f:if condition="{employmentType}">
										<f:form.select.option additionalAttributes="{jobs:condition.inArray(needle: employmentType, haystack: constraint.employmentType, then: '{selected: true}')}" value="{employmentType}">
											<f:translate key="fe.posting.employment.selector.{employmentType}"/>
										</f:form.select.option>
									</f:if>
								</f:for>
							</f:form.select>
						</div>
						<div class="form-group col {f:if(condition: '{filterOptions.locations -> f:count()} < 2', then: 'd-none')}">
							<label for="locations">
								<f:translate key="fe.filter.location"/>
							</label>
							<f:form.select class="form-control" multiple="true" name="locations" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}" property="locations">
								<f:for as="location" each="{filterOptions.locations}">
									<f:form.select.option additionalAttributes="{jobs:condition.inArray(needle: location.uid, haystack: constraint.locations, then: '{selected: true}')}" value="{location.uid}">{location.name}</f:form.select.option>
								</f:for>
							</f:form.select>
						</div>
						<div class="form-group col-1">
							<label for="submit">&nbsp;</label>
							<f:form.submit class="form-control btn btn-primary mx-2" name="submit" value="{f:translate(key: 'fe.posting.button.filter')}"></f:form.submit>
						</div>
						<div class="form-group col-1">
							<label for="reset">&nbsp;</label>
							<f:link.action action="list" class="form-control btn mx-2" name="reset">
								<f:translate key="fe.posting.button.reset"></f:translate>
							</f:link.action>
						</div>
					</div>
					<f:comment><!--Filter end--></f:comment>
				</f:form>
				<f:if condition="{postings -> f:count()} > 0">
					<f:then>
						<f:comment><!--paginate--></f:comment>
						<div class="row">
							<f:for as="posting" each="{postings}">
								<f:render arguments="{_all}" partial="Posting/ListItem"></f:render>
							</f:for>
						</div>
						<div class="row">
							<div class="col">
								<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator, action: 'list', constraint: constraint}"></f:render>
							</div>
						</div>
					</f:then>
					<f:else>
						<f:comment><!--If filter returns no postings--></f:comment>
						<span><f:translate key="fe.posting.filter.noPositions"/></span>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:comment><!--If there are no postings at all--></f:comment>
				<span><f:translate key="fe.posting.page.noPositions"/></span>
			</f:else>
		</f:if>
	</div>
	<script>
		const options = {
			plugins : ['remove_button']
		};
		$('select').selectize(options);
	</script>
</f:section>
</html>
