<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<f:render partial="Posting/MetaTags" arguments="{posting:posting}"/>
	<div class="row">
		<f:if condition="{posting.detailViewImage}">
			<f:image src="{posting.detailViewImage.originalResource.publicUrl}" class="h-auto w-100 mb-3"/>
		</f:if>
		<div class="col">
			<div class="row">
				<button class="btn btn-secondary" onclick="window.history.back()">
					<f:translate key="fe.posting.show.backlink"/>
				</button>
			</div>
		</div>
		<div class="col-8">
			<f:flashMessages/>
			<h3>{posting.title}</h3>
			<f:render partial="Posting/Properties" arguments="{posting:posting}"/>
			<div class="row">
				<div class="col-4"></div>
				<f:if condition="{settings.applicationsEnabled}">
					<div class="col-4 text-center">
						<f:comment><!--Button for going to the application form--></f:comment>
						<f:link.action class="btn btn-primary m-auto" controller="Application" action="new" arguments="{posting: posting}" pageUid="{settings.applicationFormUid}" pluginName="ApplicationForm">
							<f:translate key="fe.posting.button.cta"/>
						</f:link.action>
					</div>
				</f:if>
			</div>
		</div>
		<div class="col">
			<f:if condition="{posting.datePosted}">
				<div class="float-right">
					<h6>
						<f:format.date format="{f:translate(key: 'date_format')}">{posting.datePosted}</f:format.date>
					</h6>
				</div>
			</f:if>
		</div>
	</div>
</f:section>
</html>