<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<div class="dashboard">
		<div class="top">
			<h1>Dashboard</h1>
			<f:if condition="{contact}">
				<h3><f:translate key="LLL:EXT:jobs/Resources/Private/Language/locallang_backend.xlf:be.dashboard.welcome" arguments="{0: contact.firstName, 1: contact.lastName}"></f:translate></h3>
				<h3><f:translate key="LLL:EXT:jobs/Resources/Private/Language/locallang_backend.xlf:be.dashboard.unread" arguments="{0: newApps}"></f:translate></h3>
			</f:if>
		</div>
		<div class="middle">
			<f:link.action class="button-box" action="listApplications">
				<span>Application Administration</span>
			</f:link.action>

			<f:link.action class="button-box">
				<span>Posting Administration</span>
			</f:link.action>
			<f:link.action class="button-box">
				<span>Contact Administration</span>
			</f:link.action>
			<f:link.action class="button-box">
				<span>Location Administration</span>
			</f:link.action>

		</div>
		<div class="footer">
			<span>©it.x informationssysteme gmbh</span>
		</div>
	</div>
</f:section>
</html>