<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="content">
	<div class="listapplication-wrapper">
		<div class="top">
			<h1>
				<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.dashboard.applicationAdmin"></f:translate>
			</h1>
			<div class="filter">
				<f:form action="listApplications" method="post" name="filter">
					<div class="filter-element">
						<label for="contact">
							<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.contacts"/>
						</label>
						<f:form.select class="" name="contact" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}">
							<f:for as="contact" each="{contacts}">
								<f:form.select.option additionalAttributes="{f:if(condition: '{selectedContact} == {contact.uid}', then: '{selected: true}')}" value="{contact.uid}">{contact.firstName} {contact.lastName}</f:form.select.option>
							</f:for>
						</f:form.select>
					</div>
					<div class="filter-element">
						<label for="posting">
							<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.postings"/>
						</label>
						<f:form.select class="" name="posting" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}">
							<f:form.select.option additionalAttributes="{f:if(condition: '{selectedPosting} == -1', then: '{selected: true}')}" value="-1">
								<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.unsolicited"/>
							</f:form.select.option>
							<f:for as="posting" each="{postings}">
								<f:form.select.option additionalAttributes="{f:if(condition: '{selectedPosting} == {posting.uid}', then: '{selected: true}')}" value="{posting.uid}">{posting.title}</f:form.select.option>
							</f:for>
						</f:form.select>
					</div>
					<div class="filter-element">
						<label for="status">
							<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.status"/>
						</label>
						<f:form.select class="" name="status" prependOptionLabel="{f:translate(key: 'fe.posting.filter.chooseMessage')}">
							<f:for as="status" each="{statuses}">
								<f:form.select.option additionalAttributes="{f:if(condition: '{selectedStatus} == {status.uid}', then: '{selected: true}')}" value="{status.uid}">{status.name}</f:form.select.option>
							</f:for>
						</f:form.select>
					</div>
					<div class="filter-element checkbox-wrapper">
						<label for="archived">
							<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.archived"/>
						</label>
						<f:form.checkbox checked="{f:if(condition: '{archivedSelected} == 1', then: 'checked')}" name="archived" value="1"/>
					</div>
					<div class="filter-buttons">
						<f:form.submit class="btn-jobapplications form-btn" name="submit" value="{f:translate(key: 'fe.posting.button.filter')}"></f:form.submit>

						<f:link.action action="listApplications" class="btn-jobapplications form-btn btn-secondary" name="reset">
							<f:translate key="fe.posting.button.reset"></f:translate>
						</f:link.action>
					</div>
				</f:form>
			</div>
		</div>
		<hr>
		<div class="app-list">
			<f:if condition="{applications}">
				<f:then>
					<f:be.widget.paginate as="paginatedApplications" configuration="{itemsPerPage: 6}" objects="{applications}">
						<ul class="application-list">
							<f:for as="application" each="{paginatedApplications}">
								<li>
									<div class="list-item-container">
										<div class="row-section left">
											<f:link.action action="showApplication" arguments="{application: application}">
												<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:fe.application.selector.{application.salutation}"/>
												{application.lastName}, {application.firstName}
											</f:link.action>
										</div>
										<div class="row-section middle">
											<f:if condition="!{application.posting}">
												<f:then>
													<f:link.action action="listApplications" arguments="{posting: '-1', submit: 'filter'}">
														<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.unsolicited.single"/>
													</f:link.action>
												</f:then>
												<f:else>
													<f:link.action action="listApplications" arguments="{posting: application.posting.uid, submit: 'filter'}">
														{application.posting.title} | {application.posting.division}
													</f:link.action>
												</f:else>
											</f:if>

										</div>

										<div class="row-section right">
											<f:form action="listApplications" arguments="{application: application}" class="status-select" name="statusChange">
												<f:form.select additionalAttributes="{onchange: 'this.form.submit();'}" class="list" name="statusChange">
													<f:form.select.option additionalAttributes="{selected: true}" value="{application.status.uid}">
														{application.status.name}
													</f:form.select.option>
													<f:for as="status" each="{application.status.followers}">
														<f:form.select.option value="{status.uid}">
															{status.name}
														</f:form.select.option>
													</f:for>
												</f:form.select>
											</f:form>
											<span>
											<f:format.date format="{f:translate(key: 'date_format')}">{application.crdate}</f:format.date>
										</span>
											<f:link.action action="showApplication" arguments="{application: application}" class="btn-jobapplications">
												<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.listApplications.showButton"/>
											</f:link.action>
										</div>
									</div>
								</li>
							</f:for>
						</ul>
					</f:be.widget.paginate>
				</f:then>
				<f:else>
					<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.listApplications.filter.noApps"/></span>
				</f:else>
			</f:if>

		</div>
		<div class="app-list archived">
			<f:if condition="{archivedApplications}">
				<f:then>
					<h2>
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.archived"/>
						:
					</h2>
					<ul>
						<f:for as="application" each="{archivedApplications}">
							<li class="archived">
								<div class="list-item-container">
									<div class="row-section left">
										<f:link.action action="showApplication" arguments="{application: application}">
											<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:fe.application.selector.{application.salutation}"/>
											{application.lastName}, {application.firstName}
										</f:link.action>
									</div>
									<div class="row-section middle">
										<f:link.action action="listApplications" arguments="{posting: application.posting.uid, contact: ''}">
											{application.posting.title} | {application.posting.division}
										</f:link.action>
									</div>

									<div class="row-section right">
									<span>
										<f:format.date format="{f:translate(key: 'date_format')}">{application.crdate}</f:format.date>
									</span>
										<f:link.action action="showApplication" arguments="{application: application}" class="btn">
											<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.listApplications.showButton"/>
										</f:link.action>
									</div>
								</div>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>

				</f:else>
			</f:if>
		</div>
	</div>
</f:section>
</html>