<html data-namespace-typo3-fluid="true" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="content">
	<div class="showapplication-wrapper">
		<h1>
			<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.show.title"></f:translate>
		</h1>
		<div class="personal-description {f:if(condition: '{application.archived}', then: 'archived')}">
			<div class="row">
				<div class="placeholder">&nbsp;</div>
				<h5 class="name">
					<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:fe.application.selector.{application.salutation}"/>
					{application.firstName} {application.lastName}
				</h5>
				<span class="date"><f:format.date format="{f:translate(key: 'date_format')}">{application.crdate}</f:format.date></span>
			</div>
			<div class="row">
				<label>
					<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.posting"></f:translate>
					:&nbsp;
				</label>
				<span>
					<f:if condition="!{application.posting}">
						<f:then>
							<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.filter.unsolicited.single"/>
						</f:then>
						<f:else>
							{application.posting.title}
						</f:else>
					</f:if>
				</span>
			</div>
			<div class="row">
				<label>
					<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.email"></f:translate>
					:&nbsp;</label>
				<span><a href="mailto:{application.email}">{application.email}</a></span>
			</div>
			<div class="row">
				<label>
					<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.phone"></f:translate>
					:&nbsp;</label>
				<span>{application.phone}</span>
			</div>
			<div class="row">
				<label>
					<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.showApp.address"></f:translate>
					:&nbsp;</label>
				<span>{application.addressStreetAndNumber}</span>
			</div>
			<f:if condition="{application.addressAddition}">
				<div class="row">
					<label>&nbsp;</label>
					<span>{application.addressAddition}</span>
				</div>
			</f:if>
			<div class="row">
				<label>&nbsp;</label>
				<span>{application.addressPostCode} {application.addressCity}</span>
			</div>
			<div class="row">
				<label>&nbsp;</label>
				<span>{application.addressCountry}</span>
			</div>
			<f:if condition="{application.salaryExpectation}">
				<div class="row">
					<label>
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.salary_expectation"></f:translate>
						:&nbsp;</label>
					<span>{application.salaryExpectation}</span>
				</div>
			</f:if>
			<f:if condition="{application.earliestDateOfJoining}">
				<div class="row">
					<label>
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.earliest_date_of_joining"></f:translate>
						:&nbsp;</label>
					<span><f:format.date format="{f:translate(key: 'date_format')}">{application.earliestDateOfJoining}</f:format.date></span>
				</div>
			</f:if>
			<f:if condition="{application.message}">
				<div class="row message-row">
					<label>
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.message"></f:translate>
						:&nbsp;
					</label>
					<p>{application.message}</p>
				</div>
			</f:if>
			<div class="row">
				<label>
					<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.privacy_agreement"></f:translate>
					:&nbsp;</label>
				<f:if condition="{application.privacyAgreement} == '1'">
					<f:then>
						<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.show.privacy_agreement.yes"></f:translate></span>
					</f:then>
					<f:else>
						<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.show.privacy_agreement.no"></f:translate></span>
					</f:else>
				</f:if>
			</div>
			<f:if condition="{application.status}">
				<div class="row">
					<label>
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.status"></f:translate>
						:&nbsp;</label>
					<f:form action="showApplication" arguments="{application: application}" class="status-select" id="show-spinner" name="status">
						<f:form.select additionalAttributes="{onchange: 'this.form.submit(); document.getElementsByClassName(\'spinner\')[0].classList.add(\'spinner-active\')'}" name="status">
							<f:form.select.option additionalAttributes="{selected: true}" value="{application.status.uid}">
								{application.status.name}
							</f:form.select.option>
							<f:for as="status" each="{application.status.followers}">
								<f:form.select.option value="{status.uid}">
									{status.name}
								</f:form.select.option>
							</f:for>
						</f:form.select>
						<f:image class="spinner" src="{f:uri.resource(path:'Icons/spinner.svg')}"></f:image>
					</f:form>
				</div>
			</f:if>
			<div class="row file-container">
				<f:for as="file" each="{application.cv}">
					<a class="file" download href="{file.originalResource.publicUrl}">
						<img alt="pdf" class="icon-pdf" src="{f:uri.resource(path:'Icons/icon_pdf.svg')}">
						<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.cv"/></span>
						<img alt="download" class="icon-download" src="{f:uri.resource(path:'Icons/icon_download.png')}">
					</a>
				</f:for>

				<f:for as="file" each="{application.coverLetter}">
					<a class="file" download href="{file.originalResource.publicUrl}">
						<img alt="pdf" class="icon-pdf" src="{f:uri.resource(path:'Icons/icon_pdf.svg')}">
						<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.cover_letter"/></span>
						<img alt="download" class="icon-download" src="{f:uri.resource(path:'Icons/icon_download.png')}">
					</a>
				</f:for>

				<f:for as="file" each="{application.testimonials}">
					<a class="file" download href="{file.originalResource.publicUrl}">
						<img alt="pdf" class="icon-pdf" src="{f:uri.resource(path:'Icons/icon_pdf.svg')}">
						<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.testimonials"/></span>
						<img alt="download" class="icon-download" src="{f:uri.resource(path:'Icons/icon_download.png')}">
					</a>
				</f:for>

				<f:for as="file" each="{application.otherFiles}">
					<a class="file" download href="{file.originalResource.publicUrl}">
						<img alt="pdf" class="icon-pdf" src="{f:uri.resource(path:'Icons/icon_pdf.svg')}">
						<span><f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang.xlf:tx_jobapplications_domain_model_application.other_files"/></span>
						<img alt="download" class="icon-download" src="{f:uri.resource(path:'Icons/icon_download.png')}">
					</a>
				</f:for>

				<f:for as="file" each="{application.files}">
					<a class="file" download href="{file.originalResource.publicUrl}">
						<img alt="pdf" class="icon-pdf" src="{f:uri.resource(path:'Icons/icon_pdf.svg')}">
						<span>{file.originalResource.name}</span>
						<img alt="download" class="icon-download" src="{f:uri.resource(path:'Icons/icon_download.png')}">
					</a>
				</f:for>
			</div>
		</div>
		<div class="container-buttons">
			<f:link.action action="listApplications" arguments="{contact: contact}" class="btn-jobapplications btn-secondary" id="btn-show-back">
				<f:translate key="fe.posting.show.backlink"/>
			</f:link.action>
			<f:if condition="{application.archived}">
				<f:then>
					<f:link.action action="showApplication" arguments="{application: application, archive: 1}" class="btn-jobapplications btn-secondary">
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.show.dearchive"></f:translate>
					</f:link.action>
				</f:then>
				<f:else>
					<f:link.action action="showApplication" arguments="{application: application, archive: 1}" class="btn-jobapplications btn-secondary">
						<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.show.archive"></f:translate>
					</f:link.action>
				</f:else>
			</f:if>

			<f:link.action action="showApplication" arguments="{application: application, delete: 1}" class="btn-jobapplications btn-critical">
				<f:translate key="LLL:EXT:jobapplications/Resources/Private/Language/locallang_backend.xlf:be.show.delete"></f:translate>
			</f:link.action>
		</div>
	</div>
</f:section>
</html>