name: Static analysis

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    phpstan:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include:
                    -   php-version: 8.1
                    -   php-version: 8.2
        steps:
            -   uses: actions/checkout@v2

            -   id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            -   uses: actions/cache@v1
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}-${{ matrix.php-version }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none
                    tools: composer:v2

            -   run: composer config --no-plugins allow-plugins.typo3/class-alias-loader true && composer config --no-plugins allow-plugins.typo3/cms-composer-installers true

            -   run: composer install --no-progress

            -   run: vendor/bin/phpstan analyse Classes -c phpstan.neon