<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_jobs_domain_model_contact.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_jobs_domain_model_contact.email" />
</label><br />
	<f:form.textfield type="email" property="email" /><br />
<label for="phone">
	<f:translate key="tx_jobs_domain_model_contact.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="division">
	<f:translate key="tx_jobs_domain_model_contact.division" />
</label><br />
	<f:form.textfield property="division" /><br />
</html>